nav{
  margin: 0%;
  padding: 0%;
  height: 80px;
  width: 100%;
  display: flex;
  position: fixed;
    /* background-color: blue; */
  justify-content: space-between;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
}

.menu{
  height: 80px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  /* background-color: blue; */
}

.menu ul{
  display: flex;
  
  list-style: none;
}

.menu ul li{
  font-weight: bold;
  color: black;
  font-family: 'Poppins', sans-serif;
  margin-left: 80px;
}

.logo{
  margin-left: 100px;
}

.logo img{
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.home_design{
  font-size: 20px;
  background-color: blue;
}